*{box-sizing: border-box;}
@media only screen and (max-width: 600px) {h5{display: none;}}
header {
    height: 10%;
    width: 100%; 
    min-height: 100px;
    min-width: 100px;
    border: 2px solid #000000;
}
table, tr, th {
    border-collapse: collapse;
}
#Logo {
    background-image: url(Logo1a.png);
    background-size: contain;
    padding: 50px;
}
#Title {
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
aside {
    width: 20%;
    float: right;
    border: 1px solid #000000;
}
nav {
    border: 1px solid #000000;
}
p {
    border: 1px solid #ffff00;
    background-color: #000000;
    color: #ffffff;
}
a {
    color: #aaaaaa;
    text-decoration: none;
    font-size: 200%;
}
#S1 {
    float: left;
    height: 20%;
    width: 80%;
    font-size: 200%;
    border: 1px solid #000000;
}
#S2 {
    width: 80%;
    clear: both;
    float: left;
    height: 20%;
    width: fit-content;
    font-size: 200%;
    border: 1px solid #000000;
}
#S3 {
    text-align: center;
    float: left;
    height: 20%;
    width: 100%;
    font-size: 200%;
    border: 1px solid #000000;
}
#A1  {
    float: left;
    height: 20%;
    width: 80%;
    font-size: 150%;
    border: 1px solid #000000;
}
#A2 {
    float: left;
    width: 100%;
    font-size: 200%;
    border: 1px solid #000000;
}
#A3 {
    float: left;
    width: 100%;
    font-size: 150%;
    border: 1px solid #000000;
}
footer {
    clear: both;
    background-color: #000000;
    padding: 2%;
}
address {
    border: 1px solid #000000;
    clear: both;
}
img {
    max-width: 40%;
    max-height: 40%;
}
.tablef {
    color: #777777;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}